<div class="row" *ngFor="let post of posts | async">
    <div class="">
        <div class="card">
            <div class="card-header">
                {{post.title}}
            </div>
            <div class="row">
                <div class="card-block">
                    <div class="card-img">
                        <img src="{{post.image1}}">
                    </div>

                </div>
                <div class="card-block">
                    <div class="card-img">
                        <img src="{{post.image2}}">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn" (click)="voteFor(user.uid, post, 1)">Vote for 1</button>
                <button class=" btn btn-sm btn" (click)="voteFor(user.uid, post, 2)">Vote for 2</button>
            </div>
        </div>
    </div>
</div>