<header class="header header-6">
    <div class="branding">
        Which?
    </div>
    <div class="header-nav">
        <a class="active nav-link nav-text" routerLink="/">Post Feed</a>
        <a routerLink="/post" class="nav-link nav-text">Create Post</a>
    </div>
    <!-- <span> {{ appUser.name }}</span> -->
    <div class="header-actions">
        <div *ngIf="!(auth.user | async)?.uid">
            <a type="button" (click)="auth.login()" class="nav-link nav-icon">
          Login
            </a>
        </div>
        <div *ngIf="(auth.user | async)?.uid">
            <a type="button" (click)="auth.logout()" class="nav-link nav-icon">
                Logout
            </a>
        </div>
    </div>
</header>