<div appdropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" style="border: 1px solid white; height: 100px; width: 100px;">

    <p>Drag and Drop a File</p>
    <div class="file">
        <label></label>
        <input type="file" (change)="startUpload($event.target.files,0)">
    </div>
</div>
<div appdropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" style="border: 1px solid white; height: 100px; width: 100px;">

    <p>Drag and Drop a File</p>
    <div class="file">
        <label></label>
        <input type="file" (change)="startUpload($event.target.files,1)">
    </div>
</div>

<form>
    <label>Post Title</label>
    <input type="text" ngModel name="title" placeholder="Which outfit should I wear on my date? " />

</form>
<div *ngIf="snapshot | async as snap">

    <div *ngIf="downloadUrl1 | async as url">
        <h3>Results!</h3>
        <img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
    </div>

    <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
    <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
    <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>

</div>

<div *ngIf="snapshot | async as snap">

    <div *ngIf="downloadUrl2 | async as url">
        <h3>Results!</h3>
        <img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
    </div>

    <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
    <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
    <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>

</div>
<button (click)="savePost(post)">save</button>