<section class="flex-items-xs-center flex-xs-middle">
    <form>
        <div class="row flex-items-xs-center">
            <label>Post Title</label>
            <input size="45" type="text" ngModel name="title" placeholder="Which outfit should I wear on my date? " />
        </div>
    </form>
    <section class="row flex-items-xs-center flex-xs-middle">

        <div appdropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" class="col-md-5 drop-zone">
            <p>Drag and Drop a File</p>
            <div class="file">
                <label for="file-upload" class="upload-btn btn btn-outline">Choose File</label>
                <input id="file-upload" type="file" (change)="startUpload($event.target.files,0)">
            </div>
        </div>

        <div appdropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" class="col-md-5 drop-zone">
            <p>Drag and Drop a File</p>
            <div class="file">
                <label for="file-upload2" class="upload-btn btn btn-outline">Choose File</label>
                <input id="file-upload2" type="file" (change)="startUpload($event.target.files,1)">
            </div>
        </div>
    </section>
    <div class="row flex-items-xs-center">
        <section class="col-sm-10 col-md-5">
            <div *ngIf="snapshot | async as snap">
                <div class="btn-group">
                    <button (click)="task.pause()" class="btn is-warning" [disabled]="!isActive(snap)">Pause</button>
                    <button (click)="task.cancel()" class="btn is-danger" [disabled]="!isActive(snap)">Cancel</button>
                    <button (click)="task.resume()" class="btn is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>
                </div>

                <div *ngIf="downloadUrl1 | async as url">
                    <!-- <h3>Results!</h3> -->
                    <img [src]="url" class="img-result">
                    <!-- <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
                </div>
            </div>
        </section>
        <section class="col-sm-10 col-md-5">
            <div *ngIf=" snapshot | async as snap ">
                <div class="btn-group ">
                    <button (click)="task.pause() " class="button is-warning btn btn-outline " [disabled]="!isActive(snap) ">Pause</button>
                    <button (click)="task.cancel() " class="button is-danger btn btn-warning-outline " [disabled]="!isActive(snap) ">Cancel</button>
                    <button (click)="task.resume() " class="button is-info btn btn-success-outline " [disabled]="!(snap?.state==='paused' ) ">Resume</button>
                </div>

                <div *ngIf="downloadUrl2 | async as url ">
                    <!-- <h3>Results!</h3> -->
                    <img [src]="url " class="img-result "><br>
                    <!-- <a [href]="url " target="_blank " rel="noopener ">Download Me!</a> -->
                </div>

            </div>
        </section>
    </div>
    <div class="row flex-items-xs-center ">
        <button class="btn " (click)="savePost(post) ">save</button>
    </div>
</section>